<ion-view view-title="About">
  <ion-content class="padding">

<h3>{{ appName }} {{ appVersion }}</h3>

<h4>About</h4>

<p>Look up phone carrier/operator of your contacts list so you have idea of your upcoming phone bill.</p>

<h4>Usage</h4>

<p>Easy peasy. Just click 'Start Lookup' button on dashboard and relax. Make sure you have internet connected too.</p>

<h4>Troubleshoot</h4>

<p>'Server error. Please try again.', mostly because of your device are not connected to internet.</p>

<h4>Privacy</h4>

<p>We never ever forever keep any of your lookup result and history in our server.</p>

<h4>Contact</h4>

<p>Any problem and feedback, email me; sulaiman@derp.com.my</p>

<p>Logo made by freepik.com</p>

  </ion-content>
</ion-view>
